<%- include ('adminHeader') %>

<style>
  #image-preview {
    display: flex;
    flex-wrap: wrap;
  }
  .preview-container {
    position: relative;
    width: 150px;
    height: 150px;
    border: 2px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 5px;
  }
  .preview-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
<section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Add Products</h2>
      </div>
    </div>
    
    <!-- card-header end// -->
    <div class="container">
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <!-- <h1 class="card-title text-center mb-4">Edit User</h1> -->
        <div class="container mt-5">
<!-- <h2 class="mb-4">Add Product</h2> -->
<form action="/admin/product" method="post" enctype="multipart/form-data">
<div class="form-group">
  <span id="name-error"></span>
  <label for="productName" style="color:rgb(0, 0, 0); font-size: medium;">Product Name:</label>
  <input type="text" class="form-control" id="productName" placeholder="Product name" onkeyup="validateName()" name="prodName" minlength="4" required>
</div>
<div class="form-group" style="padding-top: 3%;">
  <span id="disc_error"></span>
  <label for="productDescription" style="color:rgb(0, 0, 0); font-size: medium;">Product Description:</label>
  <textarea class="form-control" id="productDescription" rows="3" placeholder="Product description" onkeyup="validateDiscription()" name="prodDesc" minlength="10" maxlength="100" required></textarea>
</div>
<div class="form-group" style="padding-top: 3%;">
  <label for="productPrice" style="color:rgb(0, 0, 0); font-size: medium;">Product Price:</label>
  <input type="number" min="0" class="form-control" id="productPrice" placeholder="Product price" name="prodRate" required>
</div>
<div class="form-group">
  <label for="productPrice" style="color:rgb(0, 0, 0); font-size: medium;">Offer</label>
  <input type="number" onkeyup="discountPrice()" min="0" placeholder="Product offer" class="form-control" id="offerValue" max="99" name="offer" >
</div>
<div class="form-group">
  <div class="input-group mb-3">
    <input type="text" class="form-control" hidden placeholder="Username" aria-label="Username"
 aria-describedby="basic-addon1" value="" readonly id="discountAmount" name="discount">
  </div>
</div>
<div class="form-group" style="padding-top: 3%;">
  <label for="productCategory" style="color:rgb(0, 0, 0); font-size: medium;">Product Category:</label>
  <select class="form-control" id="productCategory" name="category" required>
    
    <option value="" selected disabled>Choose a category</option>
    <% for(let a of category) { %>
     <option value="<%=a.name %>"><%=a.name %></option> 
    <% } %>
  </select>
</div>
<div class="form-group" style="padding-top: 3%;">
  <label for="productQuantity" min="0" style="color:rgb(0, 0, 0); font-size: medium;">Product Quantity:</label>
  <input type="number" class="form-control" min="0" id="productQuantity" placeholder="Product quantity" name="quantity" required>
</div>
<div class="form-group" style="padding-top: 3%;">
  <label for="productImage" style="color:rgb(0, 0, 0); font-size: medium;">Product Image:</label><br>
  <input type="file" class="form-control-file" id="productImage" accept="image/*" name="images"  multiple accept="image/*" required>
</div>
<div id="image-preview" class="mt-3"></div>
<br><br>
<button type="submit" class="btn btn-primary" >Save it</button>
<a style="margin-left:40%" href="/admin/product" class="btn btn-danger">Go Back</a>
</form>
<p id="demo"></p>
</div>
         </div>
    </div>
  </div>
</div>
</div>
    <!-- row.// -->
    
  </section>

  <script>
    function discountPrice() {
      const offer = document.getElementById('offerValue').value
      const price = document.getElementById('productPrice').value
      console.log(offer, 'offer', price, 'price')
      let sum = offer * price
      let dis = sum / 100
      let offerPrice = Math.floor(price - dis)
      document.getElementById('discountAmount').value = offerPrice
    }
  </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<script>
document.getElementById('productImage').addEventListener('change', function(event) {
  var files = event.target.files;
  var imagePreview = document.getElementById('image-preview');
  imagePreview.innerHTML = ''; // Clear previous previews
  
  for (var i = 0; i < files.length; i++) {
    var file = files[i];
    
    var reader = new FileReader();
    
    reader.onload = (function(file) {
      return function(e) {
        var previewContainer = document.createElement('div');
        previewContainer.className = 'preview-container';
        var img = document.createElement('img');
        img.src = e.target.result;
        previewContainer.appendChild(img);
        
        imagePreview.appendChild(previewContainer);
      };
    })(file);
    
    reader.readAsDataURL(file);
  }
});
</script>
<!-- <script>
 var name_error = document.getElementById('name-error');
 var disc_error = document.getElementById('disc_error');



            function validateName()
            {
                var name = document.getElementById('productName').value;
                if(name.length ==0)
                {
                  name_error.innerHTML ='<p class="help-block text-danger">product name is required</p>';
                    return false;
                }
                return true;
            }

 
            function validateDiscription()
            {
                var disc = document.getElementById('productDescription').value;
                if(disc.length == 0)
                {
                  disc_error.innerHTML ='<p class="help-block text-danger">product discription is required</p>';
                    return false;
                }
                return true;
            }
 

  
</script> -->
  <%- include ('adminFooter') %>