<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FINER THREADS</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    
    <!-- Search model -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here.....">
			</form>
		</div>
	</div>
	<!-- Search model end -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="/"><img src="img/logo.png" alt=""></a>
                </div>
                <!-- <div class="header-right">
                    <img src="img/icons/search.png" alt="" class="search-trigger">
                    <img src="img/icons/man.png" alt="">
                    <a href="#">
                        <img src="img/icons/bag.png" alt="">
                        <span>2</span>
                    </a>
                </div>
                <div class="user-access">
                    <a href="#">Register</a>
                    <a href="#" class="in">Sign in</a>
                </div>
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a class="active" href="./index.html">Home</a></li>
                        <li><a href="./categories.html">Shop</a>
                            <ul class="sub-menu">
                                <li><a href="product-page.html">Product Page</a></li>
                                <li><a href="shopping-cart.html">Shopping Card</a></li>
                                <li><a href="check-out.html">Check out</a></li>
                            </ul>
                        </li>
                        <li><a href="./product-page.html">About</a></li>
                        <li><a href="./check-out.html">Blog</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </nav> -->
            </div>
        </div>
    </header>


    <div class="container-fluid">
        <h5 style="padding-left:40%">Please check the email OTP for verification.</h5>
        <br>
        <div class="w-25" style="margin-left: 40%">
            <form action="/verifyOTP" method="post">
                <!-- OTP input -->
                <div class="form-outline mb-4">
                    <input
                        type="number"
                        id="number"
                        class="form-control"
                        name="otp"
                        placeholder="Enter the OTP"
                        required
                        oninput="this.value = this.value.slice(0, 6);"
                        onkeyup="validateOTP()"
                    />
                    <br>        
                    <label class="form-label" for="form2Example1">OTP verification</label>
                </div>
                <span id="otp-error"></span>
    

                <!-- Submit button -->
                <button onclick="return validateOTPForm()" type="submit" class="btn btn-primary btn-block mb-4">
                    Sign Up
                </button>
            </form>
                <!-- Countdown and Resend OTP button -->
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <p id="countdown">Waiting for OTP...</p>
                    </div>
                    <div>
                        <button id="resendButton" onclick="resendOTP()" class="btn btn-primary" disabled>Resend OTP</button>
                    </div>
                </div>
            
        </div>
    </div>
    








     <!-- Footer Section Begin -->
     <footer class="footer-section spad">
        <div class="container">
            <div class="footer-widget">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>About us</h4>
                            <ul>
                                <li>About Us</li>
                                <li>Community</li>
                                <li>Jobs</li>
                                <li>Shipping</li>
                                <li>Contact Us</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Customer Care</h4>
                            <ul>
                                <li>Search</li>
                                <li>Privacy Policy</li>
                                <li>2019 Lookbook</li>
                                <li>Shipping & Delivery</li>
                                <li>Gallery</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Our Services</h4>
                            <ul>
                                <li>Free Shipping</li>
                                <li>Free Returnes</li>
                                <li>Our Franchising</li>
                                <li>Terms and conditions</li>
                                <li>Privacy Policy</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Information</h4>
                            <ul>
                                <li>Payment methods</li>
                                <li>Times and shipping costs</li>
                                <li>Product Returns</li>
                                <li>Shipping methods</li>
                                <li>Conformity of the products</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					<a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
					<a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
					<a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
				</div>
			</div>

<div class="container text-center pt-5">
                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> Finer Therads</p>
            </div>


		</div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/main.js"></script>
    <script>
    var email = req.body.email;
    </script>

    <script>

        /*    OTP VALIDATION     */
        var otpError = document.getElementById("otp-error");
        var submitOTPError = document.getElementById("submitOTP-error");
        var invalidOTP = document.getElementById("invalidotp");
            invalidOTP.style.display='block';
            setTimeout(()=>{
              invalidOTP.style.display="none"
            },2000)
    
        function validateOTP() {
          var otpname = document.getElementById("otp").value;
          if (otpname.length == 0) {
            otpError.innerHTML = "Please enter OTP";
            return false;
          
          } else if (!otpname.match(/^[0-9]{4,}$/)) {
        otpError.innerHTML = "Only numbers allowed";
        return false;
           }
          
          else if (otpname.length != 6) {
            otpError.innerHTML = "6 digit OTP";
            return false;
          }
    
          otpError.innerHTML = "valid";
          return true;
        }
    
        function validateOTPForm() {
          if (!validateOTP()) {
            submitOTPError.style.display = "block";
            submitOTPError.innerHTML = "OTP required";
            setTimeout(() => {
              submitOTPError.style.display = "none";
            }, 2000);
            return false;
          }
          
        }
        
        
        </script>
    
    <script>
        let countdownValue = 60; // Countdown duration in seconds
        let countdownInterval;
    
        function startCountdown() {
            countdownInterval = setInterval(function () {
                if (countdownValue > 0) {
                    countdownValue--;
                    document.getElementById('countdown').innerText = `Resend OTP in ${countdownValue} seconds`;
                } else {
                    clearInterval(countdownInterval);
                    document.getElementById('countdown').innerText = 'Waiting for OTP...';
                    document.getElementById('resendButton').disabled = false;
                }
            }, 1000);
        }
    
        function resendOTP() {
            // Simulate OTP resend logic
            // Replace this with your actual OTP resend logic 
            
            
            window.location.href="/regResOTP/<%=email %>"
    
            // Disable the resend button and start the countdown
            document.getElementById('resendButton').disabled = true;
            countdownValue = 60; // Reset countdown value
            startCountdown();
        }
        
        // Start the initial countdown
        startCountdown();
    </script>


</html>